<p-toast></p-toast>
<div class="container-fluid">
    <h1 class="titulo"><i class="pi pi-user"></i> Mantenedor usuario</h1>
    <hr class="horizontal-rule" />
    <div class="card container">
        <div class="card-body">
            <p-toolbar>
                <ng-template pTemplate="right">
                    <p-button icon="pi pi-plus" pTooltip="Nuevo usuario" tooltipPosition="bottom"
                        (onClick)="openRegisterUser()">
                    </p-button>
                </ng-template>
            </p-toolbar>
            <br>
            <h2>Lista de Usuarios</h2>
            <hr class="horizontal-rule" />
            <div class="card">
                <p-table [value]="users" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                    [tableStyle]="{ 'min-width': '40rem' }"
                    currentPageReportTemplate="mostrar {first} a {last} de {totalRecords} registros"
                    [rowsPerPageOptions]="[5, 10, 25, 50]">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width:25%">NOMBRE</th>
                            <th style="width:25%">USUARIO</th>
                            <th style="width:25%">CORREO</th>
                            <th style="width:25%">ROL</th>
                            <th style="width:25%">ACCIONES</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-users>
                        <tr>
                            <td>{{ users.fullName }}</td>
                            <td>{{ users.userName }}</td>
                            <td>{{ users.mail }}</td>
                            <td>{{ users.rol }}</td>
                            <td>
                                <p-button pButton pRipple class="p-button-rounded p-button-warning" pTooltip="editar usuario" tooltipPosition="left" icon="pi pi-user-edit" severity="warning"></p-button>
                                <p-button pButton pRipple class="p-button-rounded p-button-danger" pTooltip="eliminar usuario" tooltipPosition="right" icon="pi pi-user-minus" severity="danger"></p-button>
                            </td> 
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        
    </div>
</div>