<div class="container-fluid">
    <h1 class="titulo"><i class="pi pi-upload"></i> Cargar Archivo</h1>
    <hr class="horizontal-rule" />
    <br>
    <div class="card container card-upload">
        <div class="card-body field col-xxs-12-pg sm:col-12 md:col-6 lg:col-6 xl:col-6">
            <input class="form-control" type="file" id="inpFileUpload">
        </div>
        <div class="card-upload">
            <button pButton pRipple class=" p-button-success" label="cargar"
            pTooltip="cargar Archivo" tooltipPosition="left" icon="pi pi-upload" severity="success"></button >            
        </div>
        <br>
    </div>
    <br>
    <p-panel header="Detalle de la Carga de archivo">
        <p>
           se mostrara los errores que tiene la estructura del archivo
        </p>
    </p-panel>
</div>