<div class="card">
    <p-menubar [model]="items">
        <ng-template pTemplate="start">
            <img src="assets/logoDHW.svg" class="card-img-top container-img" alt="gds_logo_text">                  
        </ng-template>
        <ng-template pTemplate="item">
            <button pButton type="button" (click)="sidebarVisible = true" icon="pi pi-bars" label="Show Menu"></button>
        </ng-template>
    </p-menubar>
</div>

<div *ngIf="sidebarVisible">
    <p-sidebar #sidebarRef [(visible)]="sidebarVisible">
        <ng-template pTemplate="headless">
            <div class="flex flex-column h-full">
                <div class="flex align-items-center justify-content-between px-4 pt-3 flex-shrink-0">
                    <span class="inline-flex align-items-center gap-2">
                        <img src="assets/logoDHW.svg" class="card-img-top container-img" alt="gds_logo_text">
                    </span>
                    <span>
                        <p-button type="button" (click)="closeCallback($event)" icon="pi pi-times" [rounded]="true"
                            [outlined]="true" styleClass="h-2rem w-2rem"></p-button>
                    </span>
                </div>
                <div class="overflow-y-auto">
                    <ul class="list-none p-3 m-0">
                        <li>
                            <div pRipple pStyleClass="@next" enterClass="hidden" enterActiveClass="slidedown"
                                leaveToClass="hidden" leaveActiveClass="slideup"
                                class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer p-ripple">
                                <span class="font-medium">ARCHIVOS</span>
                                <i class="pi pi-chevron-down"></i>
                            </div>
                            <ul class="list-none p-0 m-0 overflow-hidden">
                                <li>
                                    <a pRipple
                                        class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                        <i class="pi pi-check-circle mr-2"></i>
                                        <span class="font-medium" [routerLink]="['validate-file']" (click)="closeCallback($event)">Validar Archivo</span>
                                    </a>
                                </li>
                                <li>
                                    <a pRipple
                                        class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                        <i class="pi pi-upload mr-2"></i>
                                        <span class="font-medium" [routerLink]="['upload-file']" (click)="closeCallback($event)">Cargar Archivo</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="list-none p-3 m-0">
                        <li>
                            <div pRipple pStyleClass="@next" enterClass="hidden" enterActiveClass="slidedown"
                                leaveToClass="hidden" leaveActiveClass="slideup"
                                class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer p-ripple">
                                <span class="font-medium">CONFIGURACIONES</span>
                                <i class="pi pi-chevron-down"></i>
                            </div>
                            <ul class="list-none p-0 m-0 overflow-hidden">
                                <li>
                                    <a pRipple
                                        class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                        <i class="pi pi-cog mr-2"></i>
                                        <span class="font-medium" [routerLink]="['ruler-config']" (click)="closeCallback($event)">Reglas</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="list-none p-3 m-0">
                        <li>
                            <div pRipple pStyleClass="@next" enterClass="hidden" enterActiveClass="slidedown"
                                leaveToClass="hidden" leaveActiveClass="slideup"
                                class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer p-ripple">
                                <span class="font-medium">SEGURIDAD</span>
                                <i class="pi pi-chevron-down"></i>
                            </div>
                            <ul class="list-none p-0 m-0 overflow-hidden">
                                <li>
                                    <a pRipple
                                        class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                        <i class="pi pi-users mr-2"></i>
                                        <span class="font-medium" [routerLink]="['user-managment']" (click)="closeCallback($event)">Usuarios</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="mt-auto">
                    <hr class="mb-3 mx-3 border-top-1 border-none surface-border" />
                    <a pRipple
                        class="m-3 flex align-items-center cursor-pointer p-3 gap-2 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                        <span class="font-bold">{{user}}</span>
                    </a>
                </div>
            </div>
        </ng-template>
    </p-sidebar>
</div>
<div><router-outlet></router-outlet></div>