<div class="container-fluid">
    <h1 class="titulo"><i class="pi pi-upload"></i> Validar Archivo</h1>
    <hr class="horizontal-rule" />
    <br>
    <div class="card container card-upload">
        <div class="card-body field col-xxs-12-pg sm:col-12 md:col-6 lg:col-6 xl:col-6">
            <input class="form-control" type="file" id="inpFileUpload">
        </div>
        <div class="card-upload">
            <button pButton pRipple  label="validar"
            pTooltip="cargar Archivo" tooltipPosition="left" icon="pi pi-check" ></button >            
        </div>
        <br>
    </div>
    <br>
    <p-panel header="Detalle de validacion del archivo">
        <p>
            se mostrara los errores que tiene al validar el contenido archivo
        </p>
    </p-panel>
</div>