.main-container {
    display: flex;
    height: 100vh;
  }

  .content {
    flex: 1;
    overflow: hidden;
    padding: 20px;
  }

  .menu-button {
    position: fixed;
    top: 10px;
    left: 10px;
  }