<div class="main-container">
    <p-sidebar [(visible)]="displaySidebar" [fullScreen]="false">
      <p-menubar [model]="items"></p-menubar>
    </p-sidebar>
    <div class="content">
      <!-- Contenido de la aplicación aquí -->
      <button pButton type="button" icon="pi pi-bars" (click)="toggleSidebar()" class="menu-button"></button>
    </div>
  </div>