<p-toast></p-toast>
<div class="container">
    <div class="signInPage max-vh-100">
        <div class="container d-flex flex-column">
            <div class="p-fluid grid d-flex align-items-center justify-content-center min-vh-100">
                <div class="field col-xxs-12-pg sm:col-12 md:col-6 lg:col-6 xl:col-6 px-lg-5 mt-2">
                    <div class="card">
                        <div class="text-center">
                            <img src="assets/logoDHW.svg" class="card-img-top container-img" alt="gds_logo_text">
                        </div>
                        <div class="card-body px-lg-5">
                            <h5 class="text-uppercase">
                                <b>Autenticación</b>
                            </h5>
                            <p class="text-muted mb-3">¡Por favor, ingrese su usuario y contraseña!</p>
                            <form id="signInForm" [formGroup]="signInForm!">
                                <div class="p-fluid grid">
                                    <div class="field col-xxs-12-pg sm:col-12 md:col-12 lg:col-12 xl:col-12">
                                        <span class="p-float-label">
                                            <input id="floatingUsername" type="text" placeholder="Usuario"
                                                autocomplete="off" formControlName="user_mail" (keyup.enter)="signIn()"
                                                (keydown.space)="$event.preventDefault();" pInputText />
                                            <label for="floatingUsername">Usuario</label>
                                            <small class="alert text-danger"
                                                *ngIf="signInForm.controls['user_mail'].invalid && signInForm.controls['user_mail'].touched">
                                            </small>
                                        </span>
                                    </div>
                                    <div class="field col-xxs-12-pg sm:col-12 md:col-12 lg:col-12 xl:col-12">
                                        <span class="p-float-label">
                                            <input id="floatingPassword" type="password"
                                                placeholder="Ingresa tu contraseña" autocomplete="off"
                                                formControlName="user_password" (keyup.enter)="signIn()"
                                                (keydown.space)="$event.preventDefault();" pInputText>
                                            <label for="floatingPassword">Contraseña</label>
                                            <small class="alert text-danger"
                                                *ngIf="signInForm.controls['user_password'].invalid && signInForm.controls['user_password'].touched">
                                            </small>
                                        </span>
                                    </div>
                                    <div class="hover-effect ch field text-end col-xxs-12-pg sm:col-12 md:col-12 lg:col-12 xl:col-12">
                                        <a (click)="changePassword()">he olvidado mi contraseña</a>
                                    </div>
                                    <div
                                        class="field text-center col-xxs-12-pg sm:col-12 md:col-12 lg:col-12 xl:col-12">
                                        <button type="button" class="btn text-uppercase btn-outline-success"
                                            (click)="signIn()" [disabled]="signInForm.invalid">
                                            Autenticar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>