@include xxs {
    .col-xxs-12-pg {
        flex: 0 0 auto !important;
        padding: 0.5rem !important;
        width: 100% !important;
    }
}
::ng-deep .p-dialog .p-dialog-header {
    border-bottom: 0 none;
    background: #ffffff !important;
    color: #3f3f46;
    padding: 1rem;
    border-top-right-radius: 0.375rem;
    border-top-left-radius: 0.375rem;
}

.container-img{
    width: 75%;
    height: 50%;
    align-items: center;
}

.hover-effect{
    color: #0067b8;
}

.hover-effect:hover a {
    color: #0067b8;
    text-decoration: underline;
  }
  